
/* table coloring */
th{
  background-color: rgb(192, 192, 192);
}

tr:nth-child(even){
  background-color: rgb(248, 247, 247);
}

tr:hover{
  background-color: rgb(203, 229, 253);
}

/* table shape */
table{
  --radius: 13px;
  text-align: center;
  border-collapse:separate;
  overflow: hidden;
  border-spacing: 0;
}

td, th{
  padding: 10px;
  border: 1px solid black;
}

th, td{
  border-bottom-width: 0;
  border-left-width: 0;
}
tr:last-child td, tr:last-child td{
  border-bottom-width: 1px;
}

th:first-child, td:first-child{
  border-left-width: 1px;
}

tr:first-child th:first-child{
  border-radius:var(--radius) 0 0 0;
}

tr:first-child th:last-child{
  border-radius:0 var(--radius) 0 0;
}

tr:last-child td:first-child{
  border-radius:0 0 0 var(--radius);
}

tr:last-child td:last-child{
  border-radius:0 0 var(--radius) 0;
}
